/*login*/


html, body {
  width: 100%;
  height: 100%;


}
.bg-img {
 
  width: 100%;
  height: 100vh;
  



  background: #000 url('https://images.unsplash.com/photo-1473984951266-787b955c9e0b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4c636783309b345fc03ea43a17d5ceb&auto=format&fit=crop&w=1500&q=80') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;


  background-size: cover;
  display:flex;
position: relative;  

}

.color-overlay{
	width: 100%;
	height: 100%;
	background: blue;
	opacity: .6;
	position: absolute;
  background:  

-webkit-linear-gradient(to top, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background:  
linear-gradient(to top, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/*sign in form*/
.dark-grey-text mb-5{

}

#form-email1{
  margin-bottom: 10px;
}



.form-elegant .font-small {
  font-size: 0.8rem; 
/* width: inherit;*/




	}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); 



}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); 


}

#signInBtn{  


-webkit-linear-gradient(to top, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background:  
linear-gradient(to top, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card{
display: block;

    max-width: 420px;
    width: 90%;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%;


}

@media only screen and (min-width : 150px) and (max-width: : 30px){
	.card
}

#drawer{

  background-color: rgba(13,36,60,.8);
  color:#ffffff;
  
}

#navbar{
  color:#ffffff;


}

.mdl-navigation{
    padding-left:10px;

}

.cell{
  border-style: solid;
  border-color: #000000;
}

article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: grid;
  border: 1px solid black;
}

.container1{
   display: grid;
  border: 1px solid black;
}
.w-auto {
    width: auto;
}

th.classTable{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 20px;
}

table th{

  font-size: 15px;

}

.tableBody{
  font-size: 20px;
}

#sessionsBtn{
  margin-left: 500px;
}


#form-email1{
  margin-bottom: 10px;
}



.form-elegant .font-small {
  font-size: 0.8rem; 
/* width: inherit;*/
  }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); 



}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); 


}

#signUpBtn{  


-webkit-linear-gradient(to top, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background:  
linear-gradient(to top, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card{
display: block;

    max-width: 420px;
    width: 90%;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%;


}


/*check in*/

#attend{
  margin-left: 400px;
  font-size: 40px;
}


.date{
   margin-left: 900px;
}








