/*login*/


html, body {
  width: 100%;
  height: 100%;


}
.bg-img {
 
  width: 100%;
  height: 100vh;
  



  background: #000 url('https://images.unsplash.com/photo-1473984951266-787b955c9e0b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4c636783309b345fc03ea43a17d5ceb&auto=format&fit=crop&w=1500&q=80') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;


  background-size: cover;
  display:flex;
position: relative;  

}

.color-overlay{
  width: 100%;
  height: 100%;
  background: blue;
  opacity: .6;
  position: absolute;
  background:  

-webkit-linear-gradient(to top, #4e4376, #2b5876);  
background:  
linear-gradient(to top, #4e4376, #2b5876); 


}

/*sign in form*/
.dark-grey-text mb-5{

}

#form-email1{
  margin-bottom: 10px;
}



.form-elegant .font-small {
  font-size: 0.8rem; 
/* width: inherit;*/




  }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); 



}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); 


}

#signInBtn{  


-webkit-linear-gradient(to top, #4e4376, #2b5876); 
background:  
linear-gradient(to top, #4e4376, #2b5876); 

}

.card{
display: block;

    max-width: 420px;
    width: 90%;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%;


}

@media only screen and (min-width : 150px) and (max-width: : 30px){
  .card
}

#drawer{

  background-color: rgba(13,36,60,.8);
  color:#ffffff;
  
}

#navbar{
  color:#ffffff;


}

.mdl-navigation{
    padding-left:10px;

}

.cell{
  border-style: solid;
  border-color: #000000;
}

article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: grid;
  border: 1px solid black;
}

.container1{
   display: grid;
  border: 1px solid black;
}
.w-auto {
    width: auto;
}

th.classTable{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 20px;
}

table th{

  font-size: 15px;

}

.tableBody{
  font-size: 20px;
}

#sessionsBtn{
 /* margin-left: 500px;*/
  background-color: rgba(13,36,60,.8);
  margin-left: 800px;
  margin-top:-40px;
  width: 190px;

}

#homeworkBtn{
    background-color: rgba(13,36,60,.8);
  margin-left: 800px;
  margin-top:-40px;

}


#form-email1{
  margin-bottom: 10px;
}



.form-elegant .font-small {
  font-size: 0.8rem; 
/* width: inherit;*/
  }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); 



}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); 


}

#signUpBtn{  


-webkit-linear-gradient(to top, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background:  
linear-gradient(to top, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card{
display: block;

    max-width: 420px;
    width: 90%;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%;


}


/*check in*/

#checkIn{
  margin-left: 400px;
  font-size: 40px;
}


.date{
   margin-left: 900px;
}






/* -- import Roboto Font ---------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";



/* -- Box model ------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
// Variables
// ---------------------*/
@table-header-font-weight:      400;
@table-header-font-color:       #757575;

@table-cell-padding:            1.6rem;
@table-condensed-cell-padding:  @table-cell-padding/2;


@table-bg:                      #fff;
@table-bg-accent:               #f5f5f5;
@table-bg-hover:                rgba(0,0,0,.12);
@table-bg-active:               @table-bg-hover;
@table-border-color:            #e0e0e0;


/*
// Mixins
// -----------------*/
.transition(@transition) {
  -webkit-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

/*// Tables
//
// -----------------
*/

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  margin-left:18%;

/*  position: relative;*/
  min-height: 100%;
  height: 100%;



  position: relative;
  overflow-x: hidden;
/*  margin: 16px;*/
  padding: 0;
  min-height: 100%;
  font-size: 62.5%; 


  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #f5f5f5;

  background-color: @table-bg;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      .transition(all .3s ease);
      > th,
      > td {
        text-align: right;
        padding: @table-cell-padding;
        vertical-align: top;
        border-top: 0;
        .transition(all .3s ease);
      }
    }
  }
  > thead > tr > th {
    font-weight: @table-header-font-weight;
    color: @table-header-font-color;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0,0,0,.12);

  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }

 /* // Nesting*/
  .table {
    background-color: @table-bg;
  }

/*  // Remove border*/
  .no-border {
    border: 0;
  }
}

/* Condensed table */
.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-condensed-cell-padding;
      }
    }
  }
}



/* Add horizontal borders between columns.*/
.table-bordered {
  border: 0;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 0;
        border-bottom: 1px solid @table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


/*// Zebra-striping
//*/
zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: @table-bg-accent;
    }
  }
}

/*// Hover effect
//*/
.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: @table-bg-hover;
    }
  }
}

/*// Responsive tables (vertical)*/
.table-responsive-vertical {

  @media screen and (max-width: 768px) {

/*    // Tighten up spacing*/
    > .table {
      margin-bottom: 0;
      background-color: transparent;
        margin-left:17%;
      > thead,
      > tfoot {
        display: none;
      }

      > tbody {
        display: block;

        > tr {
          display: block;
          border: 1px solid @table-border-color;
          border-radius: 2px;
          margin-bottom: @table-cell-padding;

          > td {
            background-color: @table-bg;
            display: block;
            vertical-align: middle;
            text-align: right;
          }
          > td[data-title]:before {
            content: attr(data-title);
            float: left;
            font-size: inherit;
            font-weight: @table-header-font-weight;
            color: @table-header-font-color;
          }
        }
      }
    }
    
/*    // overrides for shadows*/
    &.shadow-z-1 {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      > .table > tbody > tr {
        border: none;
        .shadow-z-1();
      }
    }

/*    // overrides for the bordered tables*/
    > .table-bordered {
      border: 0;


      > tbody {
        > tr {
          > td {
            border: 0;
            border-bottom: 1px solid @table-border-color;
          }
          > td:last-child {
            border-bottom: 0;
          }
        }
      }
    }

/*    //  overrides for the striped tables*/
    > .table-striped {
      > tbody > tr > td,
      > tbody > tr:nth-child(odd) {
          background-color: @table-bg;
      }
      > tbody > tr > td:nth-child(odd) {
          background-color: @table-bg-accent;
      }
    }

/*    // overrides for hover tables*/
    > .table-hover {
      > tbody {
        > tr:hover > td,
        > tr:hover {
          background-color: @table-bg;
        }
        > tr > td:hover {
          background-color: @table-bg-hover;
        }
      }
    }
  }
}

.btn btn-elegant{
  -webkit-linear-gradient(to top, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background:  
linear-gradient(to top, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}





/*homework table*/


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  margin-left:18%;

/*  position: relative;*/
  min-height: 100%;
  height: 100%;


position:relative;
  overflow-x: hidden;
/*  margin: 16px;*/
  padding: 0;
  min-height: 100%;
  font-size: 62.5%; 


  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #f5f5f5;

  background-color: @table-bg;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      .transition(all .3s ease);
      > th,
      > td {
        text-align: right;
        padding: @table-cell-padding;
        vertical-align: top;
        border-top: 0;
        .transition(all .3s ease);
      }
    }
  }
  > thead > tr > th {
    font-weight: @table-header-font-weight;
    color: @table-header-font-color;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0,0,0,.12);

  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }

 /* // Nesting*/
  .table {
    background-color: @table-bg;
  }

/*  // Remove border*/
  .no-border {
    border: 0;
  }
}

/*// Condensed table w/ half padding*/
.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-condensed-cell-padding;
      }
    }
  }
}

/*
// Add horizontal borders between columns.*/
.table-bordered {
  border: 0;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 0;
        border-bottom: 1px solid @table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


/*// Zebra-striping
//*/
 zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: @table-bg-accent;
    }
  }
}

/*// Hover effect
//*/
.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: @table-bg-hover;
    }
  }
}

/*// Responsive tables (vertical)
*/
.table-responsive-vertical {

  @media screen and (max-width: 768px) {

/*    // Tighten up spacing*/
    > .table {
      margin-bottom: 0;
      background-color: transparent;
        margin-left:17%;
      > thead,
      > tfoot {
        display: none;
      }

      > tbody {
        display: block;

        > tr {
          display: block;
          border: 1px solid @table-border-color;
          border-radius: 2px;
          margin-bottom: @table-cell-padding;

          > td {
            background-color: @table-bg;
            display: block;
            vertical-align: middle;
            text-align: right;
          }
          > td[data-title]:before {
            content: attr(data-title);
            float: left;
            font-size: inherit;
            font-weight: @table-header-font-weight;
            color: @table-header-font-color;
          }
        }
      }
    }
    
/*    // overrides for shadows*/
    &.shadow-z-1 {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      > .table > tbody > tr {
        border: none;
        .shadow-z-1();
      }
    }

/*    // overrides for the bordered tables*/
    > .table-bordered {
      border: 0;

      > tbody {
        > tr {
          > td {
            border: 0;
            border-bottom: 1px solid @table-border-color;
          }
          > td:last-child {
            border-bottom: 0;
          }
        }
      }
    }

/*    //  overrides for the striped tables*/
    > .table-striped {
      > tbody > tr > td,
      > tbody > tr:nth-child(odd) {
          background-color: @table-bg;
      }
      > tbody > tr > td:nth-child(odd) {
          background-color: @table-bg-accent;
      }
    }

/*    //  overrides for hover tables*/
    > .table-hover {
      > tbody {
        > tr:hover > td,
        > tr:hover {
          background-color: @table-bg;
        }
        > tr > td:hover {
          background-color: @table-bg-hover;
        }
      }
    }
  }
}


